<!-- Add your content of head and header -->
<!DOCTYPE html>
<html lang="en">
<link href="./static/main.97292821.css" rel="stylesheet">
<link href="./static/assets/favicon.ico" rel="icon">

<div class="section-container" id="contact-section-container">
    <div class="container contact-form-container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
                <div class="section-container-spacer">
                    <h2 class="text-center">Thank You , we will get back </h2>
                </div>
                
                </form>
            </div>
        </div>
    </div>
</div>
